body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'math', 'Calibri';
}

nav {
    background-color: rgb(21, 21, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 30px;
}
nav ul li a {
    text-decoration: none;
    color:white;
}
nav ul li a:hover {
    text-decoration: none;
    color:#b0cec9;
}

.left {
    font-weight: bolder;
    font-size: 25px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
}

.leftside {
    padding-top: 250px;
    margin-left: 20px;
    color:rgb(173, 186, 187);
    font-size: 30px;
    
    aling:center;
    position:absolute;
    top:0px;
}


.rightside img{
height: 500px;
   margin-right: 50px;
   margin-top: 20px;
   align: right;
}
firstSection div{
   /* width:20%; */
}
img{
    align-self: right;
    height:30%;
}
.left-image{
    margin-top:70px;
    margin-left:50px ;
    position: relative;
}
.left-image img{
   
    max-width: 40%;
    height:auto;
    opacity:0.3;
}
p{
    font-size:20px;
}